# Object files
*.o
*.ko
*.s

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# smc binaries
smc
smc.*

# Temporary files
*#
*~
.*
!.gitignore
!.gitkeep

# Stuff we name to be hidden.
*.hidden*
